/* -------------
    RESET
------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------
    GENERAL
------------- */
body{
    background-color: black;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
button{
    border: none;
    cursor: pointer;
}

/* -------------
    HEADER
------------- */
header{
    height: 40px;
}
.row-head{
    justify-content: flex-end;
    gap: 5px;
}
.row-head, .row-head button{
    padding: 5px 5px;
}
.row-head button{
    background-color: #4a4a4a;
    color: #fff;
    border-radius: 8px;
}

/* -------------
    MAIN
------------- */
main{
    height: calc(100vh - 120px);
    overflow-y: auto;   
}
.cam-container{
    padding: 0 60px;
}
.cam{
    position: relative;
    padding: 5px 2px;
}
.name{
    background-color: #68737c;
    color: white;
    position: absolute;
    bottom: 10px;
    left: 2px;
}

/* -------------
    FOOTER
------------- */
footer{
    height: 80px;
    background-color: #222222;
}
.icon i{
    font-size: 20px;
}
.icon div{
    padding-top: 5px;
}
.row-footer{
    justify-content: space-between;
    line-height: 80px;
}
.row-footer button{
    background-color: #222222;
    color: #fff;
    padding: 0 5px;
}
.row-footer > div {
    padding-left: 5px;
}
.color i{
    color: green;
}
.end, .end button{
    background-color: #4a4a4a;
}
.end button{
    padding: 0px 10px;
    color: red;
}